USE [master]
GO
/****** Object:  Database [TutionPro]    Script Date: 11/15/2017 13:56:50 ******/
CREATE DATABASE [TutionPro] ON  PRIMARY 
( NAME = N'TutionPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TutionPro.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TutionPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TutionPro_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TutionPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TutionPro]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/15/2017 13:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [int] NULL,
	[CreatedBy] [date] NULL,
	[CreatedDate] [date] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Role], [CreatedBy], [CreatedDate]) VALUES (1, N'admin@gmail.com', N'Admin', 1, NULL, CAST(0x7F3D0B00 AS Date))
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Role], [CreatedBy], [CreatedDate]) VALUES (2, N'teacher@gmail.com', N'Teacher', 2, NULL, CAST(0x7F3D0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 11/15/2017 13:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[CreatedBy] [varbinary](50) NULL,
	[CreatedDate] [date] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleId], [Role], [CreatedBy], [CreatedDate]) VALUES (1, N'Admin', NULL, CAST(0x7F3D0B00 AS Date))
INSERT [dbo].[Roles] ([RoleId], [Role], [CreatedBy], [CreatedDate]) VALUES (2, N'Teacher', NULL, CAST(0x7F3D0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Default [DF_Users_CreatedDate]    Script Date: 11/15/2017 13:56:50 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_Roles_CreatedDate]    Script Date: 11/15/2017 13:56:50 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
