@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
   a {
    color: black;
}
p, a span {
    color: orange;
}
</style>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <div class="gtco-loader"></div>

    <div id="page">
        <nav class="gtco-nav scrolled" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div id="gtco-logo">
                            <a href="index.html">CONNECT<em><span>SMART</span></em></a>

                            @*<img src="~/Images/Ico2.jpg" class="img-circle" alt="Cinque Terre" width="80" height="30" />*@

                        </div>
                    </div>
                    <div class="col-xs-10 text-right menu-1 main-nav">
                        <ul style="color:yellow;">
                            <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                            @*<li><a href="#" data-nav-section="about">About</a></li>*@
                            <li><a href="#" data-nav-section="practice-areas">Our Capabilities</a></li>
                            @*<li><a href="#" data-nav-section="our-team">Our Team</a></li>*@
                            <li><a data-nav-section="Login">Login</a></li>
                           @* <li><a href="~/Views/Home/Index.cshtml">Login</a></li>*@
                            <li class="btn-cta"><a href="#" data-nav-section="contact"><span>Contact</span></a></li>


                        </ul>
                        
                    </div>
                </div>

            </div>
        </nav>

        
        
        <section id="gtco-hero" class="gtco-cover" style="background-image: url(/Images/logo_1000x1000px.jpg);" data-section="home" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-center">
                        <div class="display-t">
                            <div class="display-tc">
                                @*<h1 class="animate-box" data-animate-effect="fadeIn">The Best Online Tutor</h1>*@
                                <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="gtco-about" data-section="about">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                        <h1>CONNECT SMART CONSULTING</h1>
                        <p class="sub">Your Digital Consulting Parners</p>
                        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Connect Smart</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                        <div class="img-shadow">
                            <img src="images/img_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <h2 class="heading-colored">About Us</h2>
                        <p>INVENT THE FUTURE with the right guidance,design thinking and innovative solutions for Digital transformation.</p>
                        <p>CONNECT SMART technology advisory services will help transform your business through the management and implementation of new apps, platforms, architecture and tech. We’ll partner with you to determine the right combination of technologies for your business—from the tech that exists today to the emerging tech of tomorrow.</p>
                        <p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>
        </section>
        <section id="gtco-practice-areas" data-section="practice-areas">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                        <h1>Our Capabilities</h1>
                        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Our <span>Capabilities</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>Software Resellers</h3>
                                <p>Is your business suffering because you do not have the right ERP package to improve operational efficiency?</p>
                                <p>Are you finding it difficult to connect to customers or gather customer intelligence?</p>
                                <p>You have your answer right here since Connect Smart Consulting can help you to resell your software products. We currently function as channel partners for ANTHROPIC SOFTWARES PVT. LTD., MyClassBoard and KAGAMI ERP. We also have a full-fledged sales team covering pan India sales and can ensure that we help you reach out to customers across the country with ease. It’s time to end your quest for software resellers .Reach out to Connect Smart Consulting.</p>
                            </div>
                        </div>
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>Sales & Marketing Consultants in the digital landscape</h3>
                                <p>Are you new in the digital products and services market and trying to ramp up your customer base?</p>
                                <p>Do you have access to market and customer information?</p>
                                <p>Are you in a perpetual struggle to promote your digital products and services to clients?</p>
                                <p>Then you are at the right place. Connect Smart Consulting are expert consultants for sales and marketing in the digital landscape. We have a SMART human network and can help you reach out to right audience. We are also experts in digital marketing and specialise in SEO optimisation, content curation, mobile marketing and client engagement. So forget your worries on marketing and sales of your digital products and services. Call Connect Smart Consulting now.</p>
                            </div>
                        </div>
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>Business Consultants</h3>
                                <p>Do you have the right information at your fingertips to propel your business forward?</p>
                                <p>Are you finding it difficult to recruit experts in every functional area of business? Will, having the complete support of domain specialists give your business a new lease of life?</p>
                                <p>If the answers to even one of the above questions is a yes then you are at the right place. Connect Smart Consulting offers specialist business consulting in various functional area like marketing, information technology, finance and human resource management.  The business has specialist in most domains who can provide advice to bail out your organisation from crises thereby helping you to increase productivity and build competitive advantage. To know more on what we do in business consulting call us now.</p> 
                            </div>
                        </div>
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>IT Strategy & Consulting</h3>
                                <p>Have loads of information but no idea of where or how to use it?</p>
                                <p>Have you thought of building a technology strategy that can give you a better control over competition?</p>
                                <p>need help in devising techniques for increasing the profit margin and enhancing business efficiency?</p>
                                <p>Connect Smart Consulting helps to identify, develop and implement strategies that improves the growth prospects of any business, cuts costs and spots never explored revenue streams. This is then used to weave short- and long-term strategies that are centred on best practices to deliver quantifiable results. Are you ready to reach out to Connect Smart Consulting?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>Digital Learning</h3>
                                <p> Is your child struggling with homework and grades at school?</p>
                                <p>Have you been looking out for academic support for your child?</p>
                                <p>Do you find it difficult to drop and pick your kid from tution classes?</p>
                                <p>If the answer to any of the above questions is yes, then what you need is the support of a SMART Tutor. The SMART Tutor are online tution classes for kids from the age group of 10 -17 studying in grades 5 – 12. The portal offers tutions in all subjects and across syllabi like ICSE, CBSE, and IB. So what are you waiting for? Get the much needed tution support for your kid today.</p>
                            </div>
                        </div>
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>Digital Consulting</h3>
                                <p>Confused on understanding what digitisation can do for you?</p>
                                <p>Do you know that going digital can work wonders not just in terms of sourcing new business but also to cut costs?</p>
                                <p>Do you want to hand over the responsibility of digital management to an expert consultant?</p>
                                <p>Connect Smart Consulting can help you here. We are experts in digital consulting and undertake a range of services such as Digital Commerce, Digital Marketing and User experience design UX. Connect Smart Consulting helps businesses foster a culture of innovation through usage of technology to achieve greater heights in the digital future. Call us now to know more.</p>
                            </div>
                        </div>
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>ERP Consulting</h3>
                                <p>Ready for a digital transformation through ERP?</p>
                                <p>Are you bogged down by loads of data and confused in how to make sense out of them?</p>
                                <p>Ever thought of streamlining operations and thereby increasing overall efficiency of your business?</p>
                                <p>Connect Smart Consulting offers end to end ERP consulting right from evaluation, selection, implementation and customization of ERP software. Connect Smart Consulting has experienced professionals in the ERP practice who will help you identify processes that can be reengineered to redefine business results. The company can also provide support at any stages of the ERP implementation. If you are looking out for advice or support in ERP project give us a call now.</p>
                            </div>
                        </div>
                        <div class="gtco-practice-area-item animate-box">
                            <div class="gtco-icon">
                                <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                            </div>
                            <div class="gtco-copy">
                                <h3>Application Support & maintenance</h3>
                                <p>In a perpetual struggle to use technology to match up to your competitors?</p>
                                <p>Have you ever wondered how nice it would be to reduce budgets and increase business expectations? Have you found it challenging to manage your applications with the changing times?</p>
                                <p>Then what you need is the application support and maintenance services of Connect Smart Consulting. The application support team of Connect Smart Consulting will help you fine tune your application to suit the dynamics of the business environment you are a part of and also leverage technology for competitive advantage. So what are you waiting for? Call us now.</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        
        <section id="gtco-contact" data-section="contact">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                        <h1>Contact Us</h1>
                       @* <p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-push-6 animate-box">
                        <form action="#" id="formMail">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="text" class="form-control" placeholder="Email" id="email">
                            </div>
                            <div class="form-group">
                                <label for="PhoneNo" class="sr-only">Phone No.</label>
                                <input type="number" class="form-control" placeholder="PhoneNo" id="PhoneNo">
                            </div>
                            <div class="form-group">
                                <label for="message" class="sr-only">Message</label>
                                <textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Send Message" class="btn btn-primary" id="btnSendMail">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-md-pull-6 animate-box">
                        <div class="gtco-contact-info">

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60908.34210603817!2d78.3483069781457!3d17.422755779960607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93ee145290d3%3A0xf8a64c8fcdbd59cd!2sConnect+Smart+Consulting!5e0!3m2!1sen!2s!4v1508927804624" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <ul>
                                <li class="address">H.no. 2-48/97, Telecom Nagar, Gachi Bowli, Hyderabad,India</li>
                                <li class="phone"><a href="tel://1235235598">+91 9618242427</a></li>
                                <li class="email"><a href="mailto:info@yoursite.com">sales@connectsmartconsulting.com</a></li>
                                <li class="url"><a href="#">http://www.connectsmartconsulting.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>*@

        
    <section id="gtco-Login" data-section="Login">
     @using(Html.BeginForm("Login", "Home", "POST"))
     {


        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="UserName" type="email"  id="txtUid">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="" id="txtpwd">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit"   href="index.html" class="btn btn-lg btn-success btn-block" id="btnLogin">Login</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     }
    </section>
        

        <footer id="gtco-footer" role="contentinfo">
            <div class="container">

                <div class="row copyright">
                    <div class="col-md-12">
                       
                        <p class="pull-right">
                            <ul class="gtco-social-icons pull-right">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

<script>

    $(function () {

        $('#btnSendMail').click(function () {

            var obj = new Array();

            $('#formMail input[type="text"],textarea').each(function () {
                debugger;

                obj.push(this.value);


            });

            $.ajax({
                url: '@Url.Action("SendMail", "Home")',
                data: { arry: obj },
                type: "POST",
                sucess: function (result) {

                    alert(result);
                }


            })
        });

        @*$('#btnLogin').click(function () {
            debugger;
            window.location.href='@Url.Content("~/Home/Login")'

        })*@;

        @*$('#btnLogin').click(function () {

            //var data={UserName=$('#txtUid').val(),}

            $.ajax({

                url: '@Url.Content("~/Home/Login")',
                data: { UserName: $('#txtUid').val(), Password: $('#txtpwd').val() },
                type: "POST",
                sucess: function () {

                }
            })

        })*@


    })

</script>

 
  